
body {
	background-image : url("tenor.gif");
	background-size  : 50%;
}

h1 {
	font-family   : "Georgia";
	color         : white;
	border-color  : white;
	border-bottom : solid;
}

footer {
	position         : fixed;
	right            : 10px;
	bottom           : 10px;

	padding          : 10px;

	background-color : black;
	font-family      : "Georgia";
	color            : white;
	text-align       : right;
	border           : solid;
	border-color     : white;
}

#poem{
	width            : 45%;
	margin           : 0 auto;
	padding-top      : 2%;
	padding-bottom   : 2%;
	padding-right    : 7%;
	padding-left     : 7%;

	background-color : black;
	font-family      : "Helvetica";
	color            : white;
	border           : solid;
	border-color     : white;
}

#pagenumber {
	position         : fixed;
	bottom           : 10px;
	left             : 10px;

	padding          : 10px;

	background-color : black;
	font-family      : "Georgia";
	color            : white;
	text-align       : right;
	border           : solid;
	border-color     : white;
}