body {
    background-color:black;
    opacity: 90%;
}

.text {
    color: black;
    margin:2%;
    text-align:left;
    padding:2%;
    font-family: "Unna";
}

.header {
  color: white;
  font-family: "Unna";
  font-size: 0%;
  text-align: center;
}

.frontheader {
  text-align: center;
  padding:2%;
  margin-left:11%;
  margin-right:11%;
  background:transparent;
  color:white;
  font-family: "Unna";
  font-size: 130%;
}

blockquote {
  font-size: 90%;
}

a:visited {
  text-decoration: none;
  color: orange;
}

a:link {
  color: darkgrey;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 220%;
}

h3 {
   font-family: "Unna", sans-serif;
}

h4 {
  font-family: "Kumbh Sans", sans-serif;
  padding-top: 1%;
}