body {
    background-color:white;
}

.text {
    color: black;
    margin:2%;
    text-align:left;
    background-color:white;
    padding:2%;
    font-family: "Georgia";
}

.header {
  text-align: center;
  padding:2%;
  margin:2%;
  background:white;
  color:black;
  text-align:left;
}

.frontheader {
  text-align: center;
  padding:2%;
  margin-left:18%;
  margin-right:18%;
  background:transparent;
  color:black;
  margin-top:4%;
  font-family: "Georgia";
}

blockquote {
  font-size: 90%;
}

a:visited {
  text-decoration: none;
}

a:link {
  color:;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 220%;
}

h3 {
   font-family: "Georgia", sans-serif;
}

h4 {
  font-family: "Kumbh Sans", sans-serif;
  padding-top: 1%;
}

.blinking-cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}