body {
    background-image: url("ice.jpg");
}

.title {
	font-size:56px;
	color:white;
	font-family:arial;
	text-align:center;
	width:50%;
	position:absolute;
	z-index: 1;
	height:64px;
	margin-top:15%;
	margin-left:25%;
}

.poem {
	background-color:white;
	margin: 8%;
	font-family:"Georgia";
	padding:4%;
	margin-top:0%;
	padding-top:36px;
	margin-bottom:4%;
}

