body {
    text-align: justify;
    font-family: "Georgia";
    background-image: url("background3.png");
    background-size: 1500px;
    margin: 60px;
}

p {
    background-color: white;
    padding: 20px;
    margin: 40px;
    opacity: .45;
}